body{
	height: 100%;
}

#seller h3{
   font-size: 16px;
   padding-bottom: 10px;
}

header{
	background-color: #000;
	position: relative;
	width: 100%;
	z-index: 1000;
}

#oferta{
	background-color: #45c4dc;
	padding: 0 0 80px ;
	text-align: center;
}

.oferta{
	position: relative;
	overflow: hidden;
	min-height: 50vh;
}
.oferta-fondo{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 1s ease-in;
	z-index: 10;
	
}
.oferta-texto{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	opacity: 0;
	transition: all 1s ease-in;
	z-index: 20;
}

.oferta:hover .oferta-fondo,
.oferta:hover .oferta-texto{
	opacity: 1;
}

.oferta-frame{
	position: absolute;
	top: 0;
	padding: 5px;
	width: 100%;
	height: 100%;
}

.oferta:hover .oferta-bottom{
	background-color: #28D1A2;
}





#slides .carousel-item img{
	height: 100%;
}

#oferta h5{
	text-align: center;
	padding:  5px;
	color: #FFFFFF;
	font-family: "Segoe UI";
}

#oferta h2{
	text-align: center;
	color: #FFFFFF;
}



#seller{
	background-color: #ec7438;
	padding: 0 50px 100px;
	text-align: center;
}



.titulos{
	font-weight: 100;
	color: #FFFFFF;
	padding: 50px 0 0;
	text-transform: uppercase;
	text-align: center;
	font-family: Hidenburg;
	
	
}
.subtitulo{
	color: #5E5E5E;
	font-weight: 20px;
	text-transform: lowercase;
	font-family: Baskerville;
	text-align: center;
	font-style: italic;
	
}


footer{
	text-align: center;
	background-color: black;
	color: white;
	padding: 30px 0;
}

.tituloscontrolh3{
	text-align: center;
	color: white;
}
h3.tituloscontrolh3{
	font-family: Segoe UI;
	font-weight: bolder;
	font-style: italic;
}
#seller h2{
	font-family: "Segoe UI";
	font-weight: bolder;
	font-style: italic;
}

#oferta h2{
	font-family: "Segoe UI";
	font-weight: bolder;
	font-style: italic;
}

ul{
	padding: 10px 0;
}


#faq{
	background-image: url("../img/fondo-faq.jpg");
	background-size: cover;
	background-position:top center;
	padding: 8% 0;
	position: relative;
	height: 50vh;
}

#faq h1{
	color: #fff;
	font-size: 120px;
}



.separador-fila{
	margin-bottom: 50px;
} 


#preguntas{
	padding: 50px;
}

.pregunta{
	position: relative;
	padding: 100px 50px;
	background-color: #45c4dc;
	color: #fff;
	text-align: center;
	min-height: 50vh;
}

.pregunta-fondo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #97CA3D;
	opacity: 0;
	transition: all 0.5s ease-in;
	z-index: 10;
}

.respuesta{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	opacity: 0;
	transition: all 0.5s ease-in;
	z-index: 20;
}

.pregunta-texto h4{
	font-weight: 600;
	font-size: 14px;
}

.pregunta:hover .pregunta-fondo,
.pregunta:hover .respuesta{
	opacity: 1;
}


.producto-animate:hover img{
	transform: scale(1.5);
	transition: all 1s ease-in-out;
	filter: blur(0px);
}

.producto-animate img{
	transition:  all 1s ease-in-out;
}

#seller h2{
	padding-bottom: 50px;
}








footer a{
	color: #fff;
}
footer a:hover{
	color: #45C4DC;
}

